astroid
asttokens
awsebcli
backcall
botocore
CacheControl
cement
certifi==2022.5.18.1
charset-normalizer
click
colorama
debugpy
decorator
dill
distlib
dominate
entrypoints
executing
filelock
Flask
Flask-Bootstrap
Flask-MySQLdb
Flask-WTF
future
idna
importlib-metadata
ipykernel
ipython
isort
itsdangerous
jedi
Jinja2
jmespath
jupyter-client
jupyter-core
lazy-object-proxy
lxml
MarkupSafe
matplotlib-inline
mccabe
msgpack
mysql
mysql-connector-python
mysqlclient
nest-asyncio
packaging
parso
pathspec
pickleshare
platformdirs
prompt-toolkit
protobuf
psutil
pure-eval
Pygments
pylint
pyparsing
pypiwin32
python-dateutil
pywebcopy
pywin32
PyYAML
pyzmq
requests
semantic-version
six
stack-data
termcolor
tomli
tomlkit
tornado
traitlets
urllib3
virtualenv
visitor
wcwidth
Werkzeug
wrapt
WTForms
zipp
