{% extends 'public/layout.html' %}
{% block title %}Registrar Objeto{% endblock %}

{% block body %}


<section>
    <h2>
        <a href="/" class="left" title="Volver"><i class="bi bi-arrow-left-circle"></i></a>
        Registrar Nuevo Objeto
        <hr>
    </h2>

    <form action="{{ url_for('formAddObjeto') }}" method="POST" class="mb-3" autocomplete="off" enctype="multipart/form-data">
        <div class="row">
            <div class="col">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" class="form-control" required>
            </div>
            <div class="col">
                <label for="marca">Marca</label>
                <input type="text" name="marca" class="form-control" required>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <label for="color">Color</label>
                <select name="color" class="form-control" required>
                    <option value="">--- Seleccione el Color ---</option>
                    <option value="Rojo">Cafe</option>
                    <option value="Rojo">Rojo</option>
                    <option value="Gris">Gris</option>
                    <option value="Blanco">Blanco</option>
                </select>
            </div>
            <div class="col">
                <label for="fragil">Frágil</label>
                <br><br>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="fragil" value="Si" checked>
                    <label class="form-check-label" for="fragil">Si</label>
                </div>
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="favorito" value="No">
                    <label class="form-check-label" for="fragil">No</label>
                </div>
            </div>
        </div>

        <div class="row">
            <h2>Dimensiones</h2>
            <div class="col">
                <label for="peso">Peso(Kg)</label>
                <input type="number" name="peso" class="form-control" required>
            </div>

            <div class="col">
                <label for="descripción">Descripción</label>
                <input type="text" name="descripcion" class="form-control" required>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col">
                <label for="foto">Foto del Objeto</label>
                <input type="file" name="foto" class="form-control-file" accept="image/*" required>
            </div>
        </div>
        <hr>

        <input class="button-primary mt-3 btn btn-info btn-block bold" type="submit" value="Guardar Registro">
    </form>
</section>

{% endblock %}